.movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;

}

.theme {

}

.day {
    /*background-color: red;*/
}

.night {
    /*background-color: gray;*/
    background: #041a25;
    color: #fff;
}


.pagenav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.paginator {
    display: flex;
    column-gap: 10px;
}

.droppage {
    display: flex;
    column-gap: 10px;
}

.droppageform {
    display: flex;
    column-gap: 10px;
}

.buttonNPJump {
    display: inline-block;
    padding: 8px 100px;
    background-color: aliceblue;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 1s;
}

.buttonNPJump:hover {
    background-color: #092c3e;
    color: #f0f0f0;

}
