.singlemovie {
    position: relative; /* Добавляем относительное позиционирование */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    row-gap: 10px;
    margin-bottom: 10px;
}

.img {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 95%;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: 1px solid;
    cursor: pointer;
    border-radius: 50%; /* Делаем кнопку круглой */
    padding: 0;
    width: 20px; /* Диаметр круга */
    height: 20px; /* Диаметр круга */
    transition: background-color 1s;
}
.closeButton:hover {
    background-color: #092c3e;
    color:  #f0f0f0;
}

.closeIcon {
    font-size: 15px;

}